<div class="container vh-100">
  <div class="row align-items-center h-100">
    <div class="col mx-auto">
      <form class="jumbotron" (submit)="signUp()">
        <h3 class="text-center">
          Nuevo usuario
        </h3>
        <hr>
        <div class="form-row">
          <div class="form-group col">
            <label for="txtName">Nombre</label>
            <input #txtName="ngModel" type="text" [(ngModel)]="user.name" class="form-control" name="txtName" id="txtName" required autofocus>
          </div>
          <div class="form-group col">
            <label for="txtSurname">Apellido</label>
            <input type="text" [(ngModel)]="user.surname" class="form-control" name="txtSurname" id="txtSurname" required>
          </div>
          <div class="form-group col">
            <label for="txtDate">Fecha de nacimiento</label>
            <input type="date" [(ngModel)]="user.date" class="form-control" name="txtDate" id="txtDate" required>
          </div>
          <div class="form-group col">
            <label for="txtCountry">País</label>
            <input type="text" [(ngModel)]="user.country" class="form-control" name="txtCountry" id="txtCountry" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="txtEmail">Correo electrónico</label>
            <input type="email" [(ngModel)]="user.email" class="form-control" name="txtEmail" id="txtEmail" placeholder="ejemplo@dominio.com" required>
          </div>
          <div class="form-group col">
            <label for="txtPwd">Contraseña</label>
            <input type="password" [(ngModel)]="user.pwd" class="form-control" name="txtPwd" id="txtPwd" required>
          </div>
          <div class="form-group col">
            <label for="txtRefPwd">Confirmar contraseña</label>
            <span [class]="refPwd.class" [innerText]="refPwd.text" id="pwd-msg"></span>
            <input type="password" [(ngModel)]="user.pwdRef" class="form-control" name="txtRefPwd" id="txtRefPwd" required>
          </div>
        </div>
        <hr>
        <div class="text-right">
          <button type="submit" class="btn btn-primary btn-block">Crear usuario</button>
        </div>
      </form>
    </div>
  </div>
</div>